<div class="min-h-screen bg-slate-100">
  <nav
    class="bg-white border-b border-slate-200 px-8 h-16 flex items-center justify-between"
  >
    <a routerLink="/" class="text-xl font-bold text-slate-900 tracking-tight">
      ApplyTrack
    </a>

    <div class="flex items-center gap-2">
      <a
        routerLink="/"
        routerLinkActive="bg-slate-100 text-slate-900"
        [routerLinkActiveOptions]="{ exact: true }"
        class="h-10 px-4 inline-flex items-center rounded-xl text-slate-600 hover:text-slate-900 hover:bg-slate-100 transition"
      >
        Dashboard
      </a>

      <a
        routerLink="/applications"
        routerLinkActive="bg-slate-100 text-slate-900"
        class="h-10 px-4 inline-flex items-center rounded-xl text-slate-600 hover:text-slate-900 hover:bg-slate-100 transition"
      >
        Applications
      </a>

      <a
        routerLink="/applications/new"
        class="h-10 px-5 inline-flex items-center rounded-xl bg-slate-900 text-white hover:bg-slate-700 transition ml-2"
      >
        Add Application
      </a>
    </div>
  </nav>

  <main class="p-8">
    <router-outlet></router-outlet>
  </main>
</div>
